In [3]:
import pandas as pd
import os

dfs = [] # lista vazia para armazenar os dataframes

# percorre todas as pastas dentro do caminho especificado
for folder in os.listdir(r'D:\repositorios git\HVEX\dados\raw_data'):
    # percorre todos os arquivos dentro da pasta atual
    for file in os.listdir(r'D:\repositorios git\HVEX\dados\raw_data\{}'.format(folder)):

        # verifica se o nome do arquivo contém 'Current'
        if 'Current' in file:
            # lê o arquivo csv especificado e armazena o dataframe na lista dfs
            dfs.append(pd.read_csv(r'D:\repositorios git\HVEX\dados\raw_data\{}\{}'.format(folder, file),
                                  skiprows=[0,1], sep=';', encoding='UTF-8'))
            # verifica se o dataframe contém apenas uma coluna
            if dfs[-1].shape[1] == 1:
                # se o dataframe contiver apenas uma coluna, lê novamente o arquivo csv, alterando o separador para vírgula
                dfs[-1] = pd.read_csv(r'D:\repositorios git\HVEX\dados\raw_data\{}\{}'.format(folder, file),
                                  skiprows=[0,1], sep=',', encoding='UTF-8')

(1440, 155)
(1440, 155)
(1440, 155)
(1440, 155)
(1440, 155)
(1440, 155)
(1440, 155)

In [4]:
datasheet = pd.concat(dfs) #concatenando todos os dataframes, vai ser melhor para a visualização

In [5]:
datasheet['Date'].unique()

array(['2022-03-28', '2022-03-29', '2022-03-30', '2022-03-31',
       '2022-04-01', '2022-04-02', '2022-04-03'], dtype=object)

In [6]:
datasheet['Time'].unique()

array(['00:00:00', '00:01:00', '00:02:00', ..., '23:57:00', '23:58:00',
       '23:59:00'], dtype=object)

In [14]:
datasheet['Datetime'] = datasheet['Date'] +' '+ datasheet['Time']
datasheet['Datetime'] = pd.to_datetime(datasheet['Datetime'], format='%Y-%m-%d %H:%M:%S' )

In [16]:
datasheet.shape

(10080, 156)

In [17]:
# Contar o número de valores nulos em cada coluna
nulos_por_coluna = datasheet.isnull().sum()
[print(values) for values in nulos_por_coluna if values > 0]

[]

In [18]:
datasheet.describe()

,ITHDA,ITHDB,ITHDC,IHD2A,IHD2B,IHD2C,IHD3A,IHD3B,IHD3C,IHD4A,...,IHD49A,IHD49B,IHD49C,IHD50A,IHD50B,IHD50C,IHD51A,IHD51B,IHD51C,Unnamed: 154
count,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,...,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000
mean,3.876034,4.536392,4.099187,0.442157,0.603300,0.586392,1.795274,3.136336,2.336020,0.139523,...,0.009035,0.010706,0.008897,0.011597,0.008394,0.006680,0.006822,0.009678,0.009536,0.010749
std,0.808979,1.140697,0.912955,0.285438,0.478549,0.496707,0.757447,1.026060,0.839219,0.073029,...,0.006345,0.009042,0.005551,0.008308,0.006029,0.004073,0.004711,0.006920,0.005652,0.006961
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.521000,3.879750,3.650000,0.243000,0.290000,0.271000,1.315000,2.516750,1.830750,0.089000,...,0.005000,0.005000,0.005000,0.006000,0.004000,0.004000,0.004000,0.005000,0.005000,0.006000
50%,3.920000,4.406000,4.192000,0.391000,0.472000,0.446000,1.740000,3.002000,2.343000,0.133000,...,0.008000,0.009000,0.008000,0.010000,0.007000,0.006000,0.006000,0.008000,0.009000,0.010000
75%,4.333000,5.110000,4.646000,0.578000,0.749000,0.717000,2.205250,3.649000,2.852000,0.180250,...,0.012000,0.013000,0.012000,0.015000,0.011000,0.009000,0.009000,0.012000,0.013000,0.014000
max,10.120000,14.839000,26.963000,2.424000,3.950000,3.983000,9.866000,13.065000,21.763000,0.614000,...,0.214000,0.096000,0.047000,0.234000,0.072000,0.037000,0.076000,0.083000,0.065000,0.151000

Pelo visto os valores de datasheet estão em conforme. Então podemos salvar esse dataset agora com todos os dias concatenados.

In [19]:
datasheet.to_csv(r'D:\repositorios git\HVEX\dados\CurrentHarmonics_3421198001.csv',
                 encoding='UTF-8', sep=';', index=False)