In [2]:
import pandas as pd
import os

(1440, 155)
(1440, 155)
(1440, 155)
(1440, 155)
(1440, 155)
(1440, 155)
(1440, 155)

In [ ]:
dfs = [] # lista vazia para armazenar os dataframes

# percorre todas as pastas dentro do caminho especificado
for folder in os.listdir(r'D:\repositorios git\HVEX\dados\raw_data'):
    # percorre todos os arquivos dentro da pasta atual
    for file in os.listdir(r'D:\repositorios git\HVEX\dados\raw_data\{}'.format(folder)):

        # verifica se o nome do arquivo contém 'Voltage'
        if 'Voltage' in file:
            # lê o arquivo csv especificado e armazena o dataframe na lista dfs
            dfs.append(pd.read_csv(r'D:\repositorios git\HVEX\dados\raw_data\{}\{}'.format(folder, file),
                                  skiprows=[0,1], sep=';', encoding='UTF-8'))
            # verifica se o dataframe contém apenas uma coluna
            if dfs[-1].shape[1] == 1:
                # se o dataframe contiver apenas uma coluna, lê novamente o arquivo csv, alterando o separador para vírgula
                dfs[-1] = pd.read_csv(r'D:\repositorios git\HVEX\dados\raw_data\{}\{}'.format(folder, file),
                                  skiprows=[0,1], sep=',', encoding='UTF-8')

In [3]:
# concatenando todos os dataframes, vai ser melhor para a visualização
voltHarm = pd.concat(dfs)

In [4]:
# verificando se as datas estão no mesmo formato
voltHarm['Date'].unique()

array(['2022-03-28', '2022-03-29', '2022-03-30', '2022-03-31',
       '2022-04-01', '2022-04-02', '2022-04-03'], dtype=object)

In [5]:
# verificando se os horários estão no mesmo formato
voltHarm['Time'].unique()

array(['00:00:00', '00:01:00', '00:02:00', ..., '23:57:00', '23:58:00',
       '23:59:00'], dtype=object)

In [6]:
# criando um eixo temporal mais detalhado
voltHarm['Datetime'] = voltHarm['Date'] +' '+ voltHarm['Time']
voltHarm['Datetime'] = pd.to_datetime(voltHarm['Datetime'], format='%Y-%m-%d %H:%M:%S' )

In [7]:
voltHarm.shape

(10080, 156)

In [8]:
# Contar o número de valores nulos em cada coluna
nulos_por_coluna = voltHarm.isnull().sum()
[print(values) for values in nulos_por_coluna if values > 0]

[]

In [9]:
voltHarm.describe()

,UTHDA,UTHDB,UTHDC,UHD2A,UHD2B,UHD2C,UHD3A,UHD3B,UHD3C,UHD4A,...,UHD49A,UHD49B,UHD49C,UHD50A,UHD50B,UHD50C,UHD51A,UHD51B,UHD51C,Unnamed: 154
count,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,...,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000,10080.000000
mean,2.306172,2.371813,2.353044,0.038989,0.036925,0.040586,0.353788,0.370137,0.604631,0.035005,...,0.007227,0.011811,0.009754,0.009829,0.007603,0.008211,0.007392,0.011283,0.009634,0.010590
std,0.506675,0.444520,0.469185,0.043393,0.028943,0.023827,0.315730,0.238355,0.247387,0.028755,...,0.004645,0.008423,0.005768,0.005942,0.005930,0.004949,0.004872,0.008063,0.006096,0.006509
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.102000,2.183000,2.112000,0.022000,0.021000,0.024000,0.249000,0.220000,0.455000,0.020000,...,0.004000,0.007000,0.006000,0.006000,0.004000,0.005000,0.004000,0.006000,0.005000,0.006000
50%,2.313000,2.391000,2.361000,0.036000,0.034000,0.037000,0.336000,0.365000,0.587000,0.032000,...,0.006000,0.010000,0.009000,0.009000,0.007000,0.007000,0.006000,0.010000,0.008000,0.010000
75%,2.545000,2.606000,2.643000,0.051000,0.049000,0.054000,0.431000,0.484000,0.732000,0.045000,...,0.010000,0.015000,0.013000,0.013000,0.010000,0.011000,0.010000,0.015000,0.013000,0.014000
max,23.581000,12.831000,7.118000,3.713000,2.020000,0.543000,22.156000,9.695000,5.292000,1.980000,...,0.057000,0.124000,0.040000,0.064000,0.100000,0.038000,0.047000,0.124000,0.049000,0.056000

Pelo visto os valores de datasheet estão em conforme. Então podemos salvar esse dataset agora com todos os dias concatenados.

In [11]:
# Salvando o dataframe para analise futura
voltHarm.to_csv(r'D:\repositorios git\HVEX\dados\VoltageHarmonics_3421198001.csv',
                 encoding='UTF-8', sep=';', index=False)